<div class="row">
  <br>
</div>
<div class="row" style="background-color:#e5e3d9;padding:20px 0">
  <div class="four columns">
    <div class="panel">
      <h3>Register Your App</h3>
      <p>Use this form to enter the URL for your Heroku Rails Application.</p>
    </div>
  </div>

  <div class="eight columns">
    <h4>Register</h4>
    <hr>
    <form>
      <label class="left">USERID</label><br>
      <input type="text" name="name" placeholder="Your CCSF USERID" />

      <label class="left">URL</label>
      <input type="url" name="url" placeholder="Heroku URL"/>
      
      <input type="submit" name="submit" value="Register" />
    </form>
  </div>
</div>
<div class="row urls">
  <hr>
  <div class="twelve columns">
    <h2>URLS</h2>
  </div>
</div>
<div class="row links">
    <div class="two columns">
      
    </div>
    <div class="eight columns">
     
    </div>
    <div class="two columns">
    3
    </div>
</div>
