<div class="row">
  <br>
</div>
<div class="row" style="background-color:#d9e3e5;padding:20px 0">
  <div class="four columns">
    <div class="panel">
      <h4>Link to Your App</h4>
      <p>Use this form to enter the URL for your CS 132A Heroku Rails Application.</p>
    </div>
  </div>

  <div class="eight columns">
    <h3>Register</h3>
    <hr>
    <%= form_for @student, :url => {:action => 'create'} do |f| %>
      <%= f.label :USERID %>
      <%= f.text_field :name %>
      <%= f.label :URL %>
      <input type="url" name="url" placeholder="Heroku URL"/>
      <input type="submit" name="submit" value="Register" />
    <% end %>
    <!--

    <form>
      <label class="left">USERID</label><br>
      <input type="text" name="name" placeholder="Your CCSF USERID" />

      <label class="left">URL</label>
      <input type="url" name="url" placeholder="Heroku URL"/>
      
      <input type="submit" name="submit" value="Register" />
    </form>
    -->
  </div>
</div>
<div class="row urls">
  <hr>
  <div class="twelve columns">
  </div>
</div>
<div class="row links">
    <div class="two columns">
      
    </div>
    <div class="eight columns">
    </div>
    <div class="two columns">
    </div>
</div>
