$background-color: #103;
$text-color: #c8d;
$master-font-size: 15px;
$master-line-height: 1.6;
$font-family: 'Georgia, "Times New Roman", serif';
$header-color: #202020;
$title-color: #a00;
$title-row-background: #e0e0e0;
$urls-row-background: #e0e0ff;


body {
  background-color: $background-color;
  font-family: $font-family;
  font-size: $master-font-size;
  line-height: $master-line-height; 
  color: $text-color;
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5 {color: $header-color}
h1#site-title {
  color: $title-color;
  font-size: 3 * $master-font-size;
}
.title-row {background-color: $title-row-background}
#globalWrapper {padding:0;margin:0}
.urls {padding:.2em;margin:2em 0 1em;background-color: $urls-row-background}
